@keyframes slide-up {
  from {
    transform: translateY(15%);
    opacity: 0.1;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.slideDown {
  animation: slide-up 1500ms;
  animation-delay: 0ms;
}
